#header,#footer{
    background-color: black;
    color: white;
    text-align: center;
}
#menubar{
    background-color: aqua;
    color: white;
    text-align: center;
 
}
ul li{
    list-style: none;
    padding: 10px 0px 0px 0px;
    display: inline-block;
}
ul li a{
   text-decoration: none; 
   margin-right: 50px;
}
ul li a:hover{
  background-color: cornflowerblue;
  color: black;
}